
.card{
    max-width: 800px;
}
.repoCard{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-image: var(--gitCard-gradient);
    flex-wrap: wrap;
    padding: 20px;
    margin: 40px;
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
.count{
    position:absolute;
    right: 0;
    top: 0;
    border-radius:50%;
    color:#fff;
    background-color: var(--accent-color);
    height: 100px;
    width: 100px;
    font-size: 2rem;
    font-family: Poppins;
    transform: skew(-5deg) translateX(20px) translateY(-20px);
    display:grid;
    place-items: center;
}
.count::after{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    color: #fff;
    background-color: var(--main-color);
    height: 100px;
    width: 100px;
    font-size: 2rem;
    font-family: Poppins;
    transform: skew(0deg) translateX(20px) translateY(-20px);
}
.desc{
    font-size: 14px;
    font-style: italic;
    padding: 5 0;
    color: var(--word-color);
    font-family: Mulish;
    margin: 10px 0;
}

.collection h2{
    font-size: 1.2rem;
    color: var(--accent-color);
    font-family: Poppins;
    margin: 0;
}

h4{
    color:  var(--header-color);
    padding: 0;
    font-size: 16px;
    margin: 0;
}

.btn{
    background-color: var(--header-color);
    padding: 0 20px;
    border-radius: 20px;
}

.btn_select{
    background-color: var(--header-color);
    color: #fff;
    width: 80%;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    transition: .3s ease-in;
    padding: 5px 10px;
}

.btnHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_added{
    background-color: var(--accent-2-color);
    color: var(--body-color);
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    transition: .3s ease-out;
    padding: 5px 10px;
}

.iconHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input{
    font-size: 16px;
    padding: 5px;
    background-color: var(--btn-border-color);
    border: 0;
    color: #fff
}

input:focus, button:focus{
    border: 0;
    outline: none;
}

.img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: var(--main-color);
    margin-right: 30px;

}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mealDetail{
    display: grid;
    grid-template-columns: 1fr 3fr;
}



.iconHolder{
    font-size: 15px;
    color: var(--background-color);
    cursor: pointer;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    margin-right: 20px;
}

.iconHolder p{
    font-size: .8rem;
    font-family: Poppins;
    font-weight: 100;
    margin-top: 30px;
}

.iconHolder p span{
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    color: var(--word-color);
    margin-top: 20px;
}
.selection{
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    width: 100%;
}

