.container{
    width: 100%;
    display: grid;
    place-items: center;
}

.wrapper{
    max-width: 80%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap:20px;
    
}

.wrapper p{
    color: var(--word-color);
    font-weight: 300;
    margin: 0;
    padding: 0;
    
}