:root{
  --main-color: #1E0D3D;
  --button-color: #2F38C1;
  --accent-color:#E55EF8;
  --title-color:#1F232C;
  --subtitle-color: #888B90;
  --text-color: #1F232C;
  --background-color:#FAFAFA;
  --gradient-color: linear-gradient(90deg, rgba(27, 13, 62, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(34, 62, 113, 1) 100%);

}